.card-request,
.card-request-finallize,
.box-prepare {
    margin-bottom: 20px;
}

.card-request,
.card-request-finallize {
    background: #202020;
    border: 1px solid #ccc;
    height: 660px;
    border-radius: 7px;
}

.table-number {
    justify-content: center;
    align-items: center;
    display: flex;
    border: none !important;
    outline: none !important;
    background: transparent;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.card-container {
    padding: 10px;
}

.h2-request {
    font-size: 24px;
    background: #1d1d1d;
    padding: 15px;
    color: #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.search-product-request h4,
.caracteres h4 {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

.search-product-request input {
    font-size: 14px;
    margin-top: 7px;
    font-weight: normal;
    color: #ccc;
    outline: none !important;
    height: 30px;
    width: 100%;
    background: #323232 !important;
    border: 1px solid #1b1b1b;
    padding: 5px;
    box-sizing: border-box;
}

h4 {
    font-size: 168x;
}

.caracteres input {
    font-size: 14px;
    margin-top: 7px;
    font-weight: normal;
    color: #ccc;
    outline: none !important;
    height: 30px;
    width: 50%;
    background: #323232 !important;
    border: 1px solid #1b1b1b;
    padding: 5px;
    box-sizing: border-box;
}

.caracteres {
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
    border: 1px solid #1b1b1b;
    border-radius: 7px;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
}

.caracteres h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.form-request label {
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
}

.form-request input,
input[type="number"],
input[type="text"] {
    font-size: 16px;
    color: #333;
    outline: none !important;
    height: 30px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.totalizador {
    background: #2a2a2a;
    border: 1px solid #1b1b1b;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.totalizador h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.button-request {
    text-align: center;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: #ccc;
    padding: 17px;
    border-radius: 7px;
    font-size: 19px;
    background: #2a2a2a;
}

.button-request:hover {
    background: #1d1d1d;
}

#product-result-request,
#result-table {
    list-style: none;
    overflow: auto;
    background: #fff;
    border-radius: 7px;
    width: 20%;
    color: #1b1b1b;
    box-shadow: 2px 4px rgb(80, 80, 80);
    max-height: 200px;
    border-radius: 7px;
    position: absolute;
    z-index: 9999;
}

#result-table,
#product-result-request li {
    padding: 10px;
    border-bottom: 1px solid #1d1d1d;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#result-table,
#product-result-request li:hover {
    background-color: #f5f5f5;
}

#result-table,
#product-result-request li:last-child {
    border-bottom: none;
}

.request-list {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background: #1d1d1d;
    padding: 15px;
    color: #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.invoice-request {
    background: rgb(76, 125, 76);
    padding: 4px;
    color: #ccc;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.invoice-request:hover {
    background: green;
}