.card-request {
    background: #202020;
    border: 1px solid #1b1b1b;
    height: 700px;
    border-radius: 7px;
}

.h2-request {
    font-size: 18px;
    background: #140d4e;
    padding: 10px;
}

.search-product-request input {
    font-size: 14px;
    margin-top: 7px;
    font-weight: normal;
    color: #ccc;
    outline: none !important;
    height: 30px;
    width: 100%;
    background: #323232 !important;
    border: 1px solid #1b1b1b;
}

.card-request-finallize {
    background: #202020;
    border: 1px solid #1b1b1b;
    padding: 4px;
    height: 700px;
    border-radius: 7px;
}

.box-prepare {
    margin-top: 12px;
    background: #202020;
    border: 1px solid #1b1b1b;
    padding: 4px;
    height: 90px;
    border-radius: 7px;
}