.card-request,
.card-request-finallize {
    background: #212529;
    border: 1px solid #ccc;
    height: 580px;
    border-radius: 7px;
    margin-bottom: 25px;
}

.table-number {
    justify-content: center;
    align-items: center;
    display: flex;
    border: none !important;
    outline: none !important;
    background: transparent;
    font-size: 18px;
    color: #fff;
    text-align: center;
    cursor: default;
}

#product-result-request,
#result-table {
    list-style: none;
    overflow: auto;
    background: #fff;
    border-radius: 7px;
    width: 20%;
    color: #1b1b1b;
    box-shadow: 2px 4px rgb(80, 80, 80);
    max-height: 200px;
    border-radius: 7px;
    position: absolute;
    z-index: 9999;
}

#result-table,
#product-result-request li {
    padding: 10px;
    border-bottom: 1px solid #1d1d1d;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#result-table,
#product-result-request li:hover {
    background-color: #f5f5f5;
}

#result-table,
#product-result-request li:last-child {
    border-bottom: none;
}

.request-list {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background: #212529;
    padding: 15px;
    color: #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.invoice-request {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.invoice-request:hover {
    background: #0056b3;
}

.btn-add-card-item {
    background: rgb(170, 185, 53);
    padding: 4px;
    color: #1b1b1b;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-card-item:hover {
    background: #cadb34;
    transition: background-color 0.3s ease;
}

.btn-add-more-items {
    background: rgb(53, 62, 185);
    padding: 4px;
    color: #ccc;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add-more-items:hover {
    background: rgb(35, 37, 94);
    transition: background-color 0.3s ease;
}

/* AJUNTAR COMANDAS */

.header-gathers {
    background-color: #333;
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    width: 45%;
}

section h2 {
    margin-bottom: 10px;
}

.table-gathers {
    background: #1b1b1b;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    color: #ccc;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.table-gathers:hover {
    background: #e0e0e0;
    color: #1b1b1b;
    border-color: #999;
}

.table-gathers::before {
    content: "🍽 ";
    margin-right: 5px;
}

.table-gathers::after {
    content: attr(data-id);
    font-weight: bold;
}

.table-gathers-selected {
    position: relative;
    height: 360px;
    background: #1b1b1b;
    color: #1d1d1d;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.table-gathers-selected button {
    position: absolute;
    bottom: 10px;
    background: #202020;
    padding: 7px;
    margin: 7px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ccc;
    right: 10px;
}

.table-gathers-selected h2,
.table-gathers-selected span {
    display: inline;
    color: #1b1b1b;
}

.span-gathers,
.h2-gathers {
    color: #1b1b1b;
}

.button-gathers {
    background-color: rgb(35, 37, 94);
    cursor: pointer;
    border: none;
    color: #ccc;
    border-radius: 4px;
    outline: none !important;
    padding: 12px;
}

.button-gathers:hover {
    background-color: #3498db;
    transition: background-color 0.3s ease;
}

.info-total-gathers {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}


/* CARDS DE ADD MAIS ITENS */

.card-order {
    padding: 6px;
    background-color: #202020;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-order-content {
    padding: 10px;
}

.row-table-request {
    overflow-y: scroll;
    height: 250px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    background: #1d1d1d;
    padding: 5px;
    color: #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-footer, .total-card {
    margin-top: 15px;
}

@media only screen and (max-width: 1600px) {
    .card-request-finallize {
        width: 100%;
        margin-top: 12px;
    }

    .card-request {
        width: 100%;
    }

    #add-card-item {

    }

}