* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#button-standard {
    font-size: 14px;
}

.w100 {
    width: 100%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*MENU DO SISTEMA VERTICAL*/

.content {
    padding: 2%;
}

/*MENU DO SISTEMA HORIZONTAL*/

/*PAGINAS DO SISTEMAS*/

.box-content {
    background: #212529;
    border-radius: 24px;
    padding: 30px;
    margin-bottom: 25px;
}

/* TUDO DO SISTEMA */

@keyframes slidein {
    0% {
        transform: translateX(200px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes time {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* BOXPDV */

.navbar-boxpdv {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.boxpdv {
    color: #ccc;
    background: rgb(91, 173, 91);
    padding: 6px;
    margin: 6px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.boxpdv:hover {
    background: rgb(87, 138, 87);
}

.boxpdv-close {
    color: #ccc;
    background: rgb(173, 91, 91);
    padding: 6px;
    margin: 6px;
    font-size: 18px;
    text-align: center;
    cursor: default;
}

.close-boxpdv {
    display: none;
    padding: 20px;
    float: left;
    position: fixed;
    background: #212529;
    border: 1px solid #fff;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.filter-container {
    display: block;
    margin-bottom: 25px;
}

.filter-content {
    background: #ccc;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

.filter-form {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
}

#userFilter,
#user_filter,
#form_filter {
    width: auto;
    height: 30px;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    background: #323232;
    color: white;
    border: 0;
}

.filter {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 16px;
    background: #464646;
    color: white;
    border: 0;
}

.filter:hover {
    background: #191919;
}

.totalizator {
    display: flex;
    justify-content: start;
    gap: 6px;
    margin-bottom: 25px;
}

.card-totalizator {
    width: 350px;
    height: 100px;
    background-color: #202020;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(118, 118, 118, 0.9);
}

.overlay-details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    z-index: 999;
}

.modal-request {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content-details {
    background-color: #1b1b1b;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    overflow-y: auto;
}

.close-details {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.overlay-details-request {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    z-index: 999;
}

.modal-request {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content-details-request {
    background-color: #1b1b1b;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
}

.close-details-request {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-request:hover,
.close-request:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    display: none;
}

.error + .error-message {
    display: block;
}