.dasbord-global {
    display: flex;
    justify-content: start;
    gap: 6px;
    margin-bottom: 20px;
}

.card-global {
    background: #202020;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2-global {
    font-size: 24px;
    background: #1d1d1d;
    padding: 15px;
    color: #ccc;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.global {
    padding: 20px;
}

.form-global label {
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

.form-global input {
    font-size: 16px;
    color: #333;
    outline: none !important;
    height: 40px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.button-global {
    font-size: 14px;
    color: #333;
    outline: none !important;
    height: 40px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.button-global:hover {
    background: #1d1d1d;
    color: #fff;
}


/* MODAL MeNSAGEM PADRAO */

.erro-global {
    display: none;
    background-color: #ff6262;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-40%, -50%);
    background: #0a162e;
    border: 1px solid #fff;
    border-radius: 10px;
}

.sucess-global {
    display: none;
    background-color: #62ffa1;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-40%, -50%);
    background: #0a162e;
    border: 1px solid #fff;
    border-radius: 10px;
}

/* BOTÃO PERSONALIZADO PARA PERGUNTA */


.confirm-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.confirm-yes,
.confirm-no {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
}

.message {
    margin: 20px;
}